* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

canvas {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
}

#controls {
	position: absolute;
	display: flex;
	padding: 1rem;
	border-radius: 10px;
	z-index: 1;
	justify-content: center;
	align-items: center;
	background-color: #684e6881;
	width: auto;
	height: auto;
}
